# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# firebase
.firebase
/emulator_data

# testing
/coverage

# production
/build
/dist
/out

# ignored for compatability
package-lock.json
public/config/version.json
.env

# firebase
.firebase
/ui-debug.log
/firestore-debug.log

# ide
/.idea
/.vs
/.vscode

# misc
.DS_Store
psiturkit/*_turk
npm-debug.log*
yarn-debug.log*
yarn-error.log*

