# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
Brewfile.lock.json
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/out

# IDE
/.vscode

# Logs
*.log
*.log*

# Versioning
public/config/version.json
Brewfile.lock.json

# Firebase private key
**/firebase-service-account.json

# Live data
**/participant_responses

# Misc
.env
.DS_Store
psiturkit/*_turk