<?xml version="1.0" encoding="utf-8"?>

<!-- Dependency installer for  Windows

	Install chocolatey: https://chocolatey.org/install
	Run install: choco install path/to/chocolatey.config
-->
<packages>
	<package id="git" />
	<package id="nodejs-lts" />
	<package id="vscode" />
	<package id="pyenv-win" />
	<package id="visualstudio2022community" />
	<package id="visualstudio2022buildtools" />
	<package id="visualcpp-build-tools " />
	<package id="electron" />
  </packages>