rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /registered_studies/{study_id}/config/{participant_id} {
            allow read: if participant_id == 'default' || participant_id in get(/databases/$(database)/documents/registered_studies/$(study_id)).data.registered_participants;
    }
    match /participant_responses/{study_id}/participants/{participant_id}/data/{document=**} {
          allow read: if false
          allow create, update: 
          if participant_id in get(/databases/$(database)/documents/registered_studies/$(study_id)).data.registered_participants;
      }   
    }
}