rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      // participantID must be in the registered_participants array in the registered_studies/{studyID} document
      match /participant_responses/{studyID}/participants/{participantID} {
        allow create, read: 
        if participantID in get(/databases/$(database)/documents/registered_studies/$(studyID)).data.registered_participants;

        // experimentID must be in the data subcollection
        match /data/{experimentID} {
          allow create, read: if true

          // trialID must be in the trials subcollection
          match /trials/{trialID} {
            allow create, read: if true
          }
        }
      }
    }
}