p, li {
  font-size: 1.5rem;
}
.App {
  text-align: center;
}

.photodiode-box {
  position: fixed;
  bottom: 3px;
  right: 3px;
  display: flex;
  outline: 3px solid rgb(80,80,80);
  margin: auto;
  height: 50px;
  width: 50px;
}

.photodiode-spot {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.main-prompt, .beads_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center !important;
}

.main-prompt {
  margin-top: -10%;
  margin-bottom: -5%;
}

#fixation-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.jspsych-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #efefef;
  background-color: #d3d3d3;
  margin: 1rem;
  width: 10rem !important;
}
