name: build

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'src/**'
      - 'public/**'
      - '.github/workflows/build.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    env:
      REACT_APP_AT_HOME: ${{ matrix.setting == 'home' }}

    strategy:
      matrix:
        setting: [home, clinic]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
    # Set up js package
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    # install, test, build package
    - name: npm install
      run: |
        npm config set "//npm.pkg.github.com/:_authToken" ${{ secrets.GITHUB_TOKEN }}
        npm install
    - name: npm build
      run: npm run build
    - name: npm test
      run: npm test
      env:
        CI: true